{% load static %}
<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-static shadow">
	<div class="container-fluid">
		<div class="d-flex d-lg-none">
			<button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded">
				<i class="ph-list"></i>
			</button>
		</div>

		<div class="navbar-collapse order-2 order-lg-1 collapse" id="navbar-mobile">
			<ul class="navbar-nav mt-2 mt-lg-0">
				<li class="nav-item">
					<span class="navbar-nav-link rounded text-body">
						<i class="ph-shield-check me-2"></i>
						Cyber Intelligence Platform
					</span>
				</li>
			</ul>
		</div>

		<ul class="nav gap-sm-2 order-1 order-lg-2 ms-auto">
			<li class="nav-item nav-item-dropdown-lg dropdown">
				<a href="#" class="navbar-nav-link align-items-center rounded p-1" data-bs-toggle="dropdown" aria-expanded="false">
					<div class="status-indicator-container">
						<div class="d-inline-flex align-items-center justify-content-center rounded bg-primary bg-opacity-10 text-primary w-32px h-32px">
							<i class="ph-user-circle"></i>
						</div>
						<span class="status-indicator bg-success"></span>
					</div>
					<span class="d-none d-lg-inline-block mx-lg-2">{{ request.session.username }}</span>
				</a>

				<div class="dropdown-menu dropdown-menu-end">
					<div class="dropdown-header">
						<span class="text-muted fs-sm">Signed in as</span><br>
						<span class="fw-semibold">{{ request.session.role|capfirst }}</span>
					</div>
					<a href="{% url 'cyber:profile' %}" class="dropdown-item">
						<i class="ph-user me-2"></i>
						Profile
					</a>
					<a href="{% url 'cyber:logout' %}" class="dropdown-item text-danger">
						<i class="ph-sign-out me-2"></i>
						Logout
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- /main navbar -->
